<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理·后台管理</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <header class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Management</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{:U('Home/Index/index')}">首页</a></li>
                    <li class="active"><a href="{:U('Home/Index/index')}">用户管理</a></li>
                    <li><a href="{:U('Subject/index')}">答题</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li><a>欢迎 {$user}</a></li>
                    <li><a href="{:U('Login/logout')}">退出</a></li>
                </ul>
            </div>
        </div>
    </header> <!-- header End. -->

    <div class="row">
        <!-- left Start. -->
        <div class="col-sm-3">
            <ul class="list-group">
                <a href="#" class="list-group-item">用户分组</a>
                <a href="{:U('Index/replace')}" class="list-group-item">{$SelfGroup}</a>
                <?php for($i=0; $i< count($GroupResults); $i++) { ?>
                <a href="{:U('Index/groups?gid='.$GroupResults[$i]['id'])}" class="list-group-item">{$GroupResults[$i]['name']}</a>
                <?php } ?>
            </ul>
        </div> <!-- left End. -->


        <div class="col-sm-3 col-sm-o">
            <div class="list-group">
                <?php for($i=0; $i<count($users); $i++) { ?>
                <a href="{:U('users?gid='.$users[$i][group].'&uid='.$users[$i][id])}" class="list-group-item">
                    <h4 class="list-group-item-heading">{$users[$i][username]}</h4>
                    <p class="list-group-item-text">{$users[$i][mobile]}</p>
                </a>
                <?php } ?>
            </div>
        </div>
    </div>

</div>


</body>
</html>